*
{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
html
{
    position: relative;
    min-height: 100%;
}

.navbar
{
    background-color: #F8F8F8;
    
}

.nav-brand
{
    color: #5E5E5E;
    margin-left: 25px;
    text-decoration: none;
}
.nav-items
{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-items ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.nav-items ul li:last-child
{
    margin-right: 30px;
}
.nav-items ul li a
{
    text-decoration: none;
    color: #5E5E5E;
}
.nav-items ul li a:hover
{
    color: #171010;
}

section
{
    padding: 5vh 10vh;
}

article
{
    text-align: justify;
    margin: 20px 0;
}
article p
{
    font-size: 14px;
}
article p a
{
    text-decoration: none;
}
section h2
{
    margin:20px 0 10px 0;
}
section h2 a
{
    color: black;
    text-decoration: none;
    transition: border-bottom 0.5s ease-in-out;
    border-bottom: 1px solid transparent;
}
section h2 a:hover
{
    border-color: black;    
}

form input, form textarea
{
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}
form input:focus, form textarea:focus
{
    outline-color: #9AD0EC;    
}
.post-submit
{
    padding: 7px 10px;
    background-color: #398AB9;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.post-submit:hover
{
    background-color: #1C658C;
}

.container-404
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.header-404
{
    margin-bottom: 3vh;
    font-size: 5rem;
}

.footer-margin
{
    margin-bottom: 10vh;
}
footer
{
    background-color: #171010;
    height: 10vh;
    width: 100%;
    color: white;
    text-align: center;  
    position: absolute;
    bottom: 0;  
}

footer p
{
    padding-top: 20px;
}
